wug/
.idea/
.mypy_cache/
src/__pycache__/
src/lscd/__pycache__/
.huggingface/
.vscode-server/
envs/
docs/build/
outputs/
multirun/*
*__pycache__*
.env
.vscode/
conda/
.conda/
.bert/
.deepmistake/
venv/
analysis/
results/results.csv
results/results.xlsx
src/wic/deepmistake_models
src/wic/mcl-wic