wug/**
conf/dataset/testwug_en.yaml

.idea/
.mypy_cache/
src/__pycache__/
src/lscd/__pycache__/
.huggingface/

docs/_build/
outputs/
multirun/*
*__pycache__*
.vscode/
.vscode-server/
conda/
.conda/
.bert/
.deepmistake/
.devcontainer/
.helix/
.ropeproject/
.use_pairs/
.wic/

envs/
.env/
env/
venv/
.venv/


analysis/
results/results.csv
results/results.xlsx
src/wic/deepmistake_models
src/wic/mcl-wic
/results/results.json
setup_env.sh
update-git.sh
archived/
