wug/
.idea/
.mypy_cache/
src/__pycache__/
src/lscd/__pycache__/
.huggingface/
.vscode-server/
envs/
outputs/
multirun/*
*__pycache__*
.env
.vscode/
conda/
.conda/
.cache/
venv/
analysis/
results/results.csv
results/results.xlsx
